h1 {
    font-size: 80px;
    color: #ffffff;
    text-align: center;
    margin-top: 120px;
    font-family: "Lucida Calligraphy", 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}

body {
    background-color: rgb( 129, 126, 204);
}

.startButton {
    display:block;
    margin: 20px auto;
    width: 200px;
    padding:10px;
    border: none;
    border-radius: 22px;
    background-color: #ffffff;
    color: rgb( 129, 126, 204);
    font-size: 24px;
    font-weight: bold;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Trebuchet MS',  Arial, sans-serif;
    font-style: italic;
    box-shadow: -8px 8px 0px rgba(0,0,0,0.15);
    cursor: pointer;
    transition:0.2s;
}

.instructionButton {
    display:block;
    margin: 20px auto;
    width:200px;
    padding: 10px;
    border:none;
    border-radius: 22px;
    background-color: #ffffff;
    color:rgb( 129, 126, 204);
    font-size: 24px;
    font-weight: bold;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Trebuchet MS',  Arial, sans-serif;
    font-style: italic;
    box-shadow: -8px 8px 0px rgba(0,0,0,0.15);
    cursor: pointer;
    transition:0.2s;
}

.startButton:hover , .instructionButton:hover {
    transform: translateY(-3px);
    background-color:rgb(201, 199, 223)
}